body {
	//background-color: black;
	color: black;
}
#heading {
	text-align: center;
	font-size: 40px;
	padding-bottom: 5px;
	border: 3px solid black;
	margin-top: 0;
	color: black;
	font-weight: bold;
	border-radius: 20px;
	transition: all 1s ease;
}
#winBar {
	vertical-align: top;
	width: 40%;
	display: inline-block;
	text-align: center;
	padding-top: 150px;
	font-weight: bold;
	font-size: 20px;
}
#p1Span {
	display: inline-block;
	padding-bottom: 10px;
}

#click {
	display: inline-block;
	color: red;
	cursor: pointer;
}
#profileBtn {
	display: inline-block;
	border:1px solid black;
	border-radius: 10px;
	cursor: pointer;
}
#resetScore {
	margin-left: 9px;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
}
#profileInfo {
	display: inline-block;
	margin-right: 50px;
	vertical-align: top;
	float: right;
}
#info {
	border: 2px solid black;
	border-radius: 25px;
	font-weight: bold;
}
#X:active, #O:active, #resetScore:active {
transform: translateY(4px);
background-color: gray;
}
#btnBar {
	display: inline-block;
	text-align: center;
	padding: 10px 10px;
	border : 2px solid black;
	margin-right: 100px;
	border-radius: 20px;
}	
#btnBar:hover, #choosePlayers:hover, #matrixSize:hover {
	background-color: red;
}
#btnBar, #choosePlayers, #matrixSize {
	transition: all 1s ease;
	font-weight: bold;
}
#closeSpan {
	float: right;
	padding-right: 10px;
}
#profile {
	display: block;
	padding-top: 50px;
	margin-left: 20px;
	margin-top: 10px;
	text-align: center;
}
#bgColor {
	margin-top: 10px;
}
#matrixSize {
	display: inline-block;
	text-align: right;
	border : 2px solid black;
	padding: 10px 10px;
	border-radius: 20px;
}
#choosePlayers {
	display: inline-block;
	text-align: right;
	border : 2px solid black;
	padding: 10px 10px;
	margin-right: 100px;
	border-radius: 20px;
}
#matrix{
	width: 40%;
	margin: 25px;
	display: inline-block;
	text-align: right;
	transition: all 1s ease;
	margin-left: 100px;
	margin-right: 50px;
}
#newTable {
	margin: 0 auto;
	transition: all 1s ease;
}
#matrix {
	width: auto;
	transition: all 1.5s ease;
}

#topBar {
	display: block;
	text-align: center;
	margin: 10px 0;
}
#result {
	text-align: center;
	width: 70%;
	border: 1px solid black;
	margin: 0 auto;
	padding: 10px 0;
	animation-name: animatetop;
    animation-duration: 2s;
    color: red;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 5px 5px black;
}
#closeSpan:hover,
#closeSpan:focus {
    text-decoration: none;
    cursor: pointer;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
#submitBtn {
	float: left;
	margin-top: 20px;
	margin-left: 140px;
}
#playerTurn {
	display: block;
	text-align: center;
	padding-top: 5px;
	color: red;
}
#profileTable {
	display: block;
	padding-top: 80px;
	font-weight: bold;
	/*border:1px solid black;*/
}

@media(max-width: 650px) {
	#choosePlayers {
		display: block;
		text-align: center;
		border: none;
		margin: 0 auto;
	}
	#matrixSize {
		display: block;
		border: none;
		text-align: center;
	}
	#btnBar {
		display: block;
		border: none;
		margin: 0 auto;
	}
	#tbody {
		transform: scale(.8);

	}
	#newTable {
		transform: scale(.9);
		padding: 0;
	}
	#heading {
		transform: scale(.9);

	}
}
@media(max-width: 720px) {
	#choosePlayers, #btnBar {
		margin-right: 0;
	}
}
